<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4 d-flex justify-content-around">
			<a href="https://github.com/tmiquel/DIAMS-AI4Good-API-Sensors/tree/master" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Github</a>
			<a href="/data" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Json data</a>
    </div>
		<div class="bg-dark text-center">
      <span class="text-muted">DIAMS SENSORS API</span>
		</div>	
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
